<!DOCTYPE html>
<html lang="en">
<head>
  <style></style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&family=Rubik&display=swap" rel="stylesheet">
  <title>Counter</title>
</head>
<body>


  <div class="counter">
  <h1>Counter</h1>

 

  <h4>{{counter}} times.</h4>
  </div>

  <div class="btn-div">
  <form action="/plusnum" method="post">
    <input class="num" type="number" name="num" required>


    {% csrf_token %}
    <input class="Addtwo" type="submit" value="ADD" >
</form>


  <form action="/plus2" method="post">

    {% csrf_token %}
<input class="Addtwo" type="submit" value="Add two visits!" >
  </form>
  </div>




  <form class="restform" action="/destroy_session" method="post">
    {% csrf_token %}
    <input class="reset" type="submit" value="Reset" >
  </form>

</body>
</html>