
.cont{

margin: 0% auto;
width: 70%;
margin-top: 6%;
padding: 30px;



}

.select{

  padding: 5px;
}


.Thank , h1{
color: #fbc207

}
h2{

  margin-bottom: 20px;
}

.back{

  font-weight: bolder;
  font-size: large;
}